/*#progress {*/
    /*-fx-progress-color: #5264AE;*/
/*}*/

.root {
    -fx-font-family: "Montserrat";
    -fx-font-smoothing-type: gray;
}

.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #5472d3;
}

.progressError > .bar {
    -fx-background-color: #c62828 !important;
}

/** {*/
    /*-fx-font-size: 20.0;*/
    /*-fx-font-weight: BOLD;*/
    /*-fx-background-color: #5472d3;*/
    /*-fx-pref-width: 100.0%;*/
    /*-fx-pref-height: 64.0px;*/
/*}*/

.jfx-decorator {
    -fx-decorator-color: #5472d3;
    /*-fx-font-weight: BOLD;*/
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: #5472d3;
}

.jfx-decorator .resize-border {
    -fx-border-color: #5472d3;
    -fx-border-width: 0 4 4 4;
}

.unrounded {
    border-radius: 10px !important;
}

.invert-colors {
    -fx-background-image: url(baseline_invert_colors_black_18dp.png);
    -fx-background-size: 30px 30px;
}

.invert-colors-white {
    -fx-background-image: url(baseline_invert_colors_white_18dp.png);
    -fx-background-size: 30px 30px;
}

.gridpane-theme-dark {
    -fx-background-color: #202225;
    -fx-text-fill: white;
}

.output-theme-dark {
    -fx-background-color: #242529;
    -fx-border-color: #242529 !important;
    -fx-text-fill: white;
}

.output-theme-dark .content {
    -fx-background-color: #242529;
    -fx-border-color: #242529 !important;
}

.dark-text {
    -fx-text-fill: white;
}