$left-background: #F4F4F4;
$right-background: #FFFFFF;

$left-background-dark: #424242;
$right-background-dark: #616161;

.root {
    -fx-font-family: "Montserrat";
    -fx-font-smoothing-type: gray;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

JFXButton {
    -fx-cursor: hand;
}

.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #5472d3;
}

.progressError > .bar {
    -fx-background-color: #c62828 !important;
}

.jfx-decorator {
    -fx-decorator-color: #5472d3;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: #5472d3;
}

.jfx-decorator .resize-border {
    -fx-border-color: #5472d3;
    -fx-border-width: 0 4 4 4;
}

.jfx-radio-button, .check-box {
    -jfx-selected-color: #5472d3;
    -jfx-checked-color: #5472d3;
}

.unrounded {
    border-radius: 10px !important;
}

.invert-colors {
    -fx-background-image: url(icons/invert_colors/baseline_invert_colors_black_18dp.png);
    -fx-background-size: 30px 30px;
}

.invert-colors-white {
    -fx-background-image: url(icons/invert_colors/baseline_invert_colors_white_18dp.png);
    -fx-background-size: 30px 30px;
}

.remote-origin-visibility {
    -fx-background-image: url(icons/visibility/baseline_visibility_black_18dp.png);
    -fx-background-size: 30px 30px;

    &.dark {
        -fx-background-image: url(icons/visibility/baseline_visibility_white_18dp.png);
        -fx-background-size: 30px 30px;
    }

    &.off {
        -fx-background-image: url(icons/visibility/baseline_visibility_off_black_18dp.png);
        -fx-background-size: 30px 30px;
    }

    &.dark.off {
        -fx-background-image: url(icons/visibility/baseline_visibility_off_white_18dp.png);
        -fx-background-size: 30px 30px;
    }
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.gridpane-theme {
    -fx-border-style: none;
}

.gridpane-theme-dark {
    -fx-background-color: $left-background-dark;
    -fx-text-fill: white;
}

.output-theme-dark {
    -fx-background-color: $right-background-dark;
    -fx-border-color: $right-background-dark !important;
    -fx-text-fill: white;

    .content {
        -fx-background-color: $right-background-dark;
        -fx-border-color: $right-background-dark !important;
    }
}

.list-cell {
    -fx-background-color: $left-background;

    .dark & {
        -fx-background-color: $left-background-dark;
    }
}

.result-pane > * {
    -fx-border-insets: 0 !important;
    -fx-border-style: none !important;
    -fx-border-width: 0 !important;
}

.line-number {
    -fx-text-fill: darken(white, 30%) !important;

    .dark & {
        -fx-text-fill: lighten(black, 70%) !important;
    }
}

#searchResults {
    -fx-background-color: $left-background;

    &.dark {
        -fx-background-color: $left-background-dark;
    }
}

.search-label {
    -fx-background-color: $left-background;
    -fx-text-fill: black;

    &.dark {
        -fx-background-color: $left-background-dark;
        -fx-text-fill: white;
    }
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: #4b6eaf;

    * {
        -fx-background-color: #4b6eaf;
    }
}

.found-context.dark {
    -fx-fill: white;
}

.search-highlight {
    -fx-fill: red;
}

.dark-text {
    -fx-text-fill: white !important;
    -fx-prompt-text-fill: WHITE !important;
    -jfx-unfocus-color: WHITE !important;
}

.language-selection-dark {
    -fx-background-color: $left-background-dark;
    -fx-border-color: $left-background-dark;
    -fx-text-fill: white;

    .list-view, .language-selection-dark .list-cell {
        -fx-background-color: $right-background-dark;
        -fx-border-color: $right-background-dark;
        -fx-text-fill: white;
    }

    .list-cell {
        -fx-cursor: hand;
    }

    .list-cell:focused, & .list-cell:hover {
        -fx-background-color: $left-background-dark;
        -fx-border-color: $left-background-dark;
    }
}

.output-text {
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 0;
}


.menu-bar {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-spacing: 0.166667em; /* 2 */
    -fx-background-color: $left-background;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0, 0;
    -fx-border-style: none;

    > .container > .menu-button {
        -fx-background-color: $left-background;
        -fx-background-radius: 0;
        -fx-background-insets: 0;

        .label {
            -fx-text-fill: black;
        }
    }

    * > .context-menu {
        -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);

        $top-offset: 5px;
        $vert-padding: 10px;

        -fx-border-insets: $vert-padding 0 $vert-padding 0;
        -fx-background-insets: $top-offset 0 $top-offset 0;
        -fx-border-color: transparent;
        -fx-border-style: solid none solid none;
    }


    &.menubar-dark {
        -fx-background-color: $left-background-dark;
        //-fx-border-insets: 0 0 1px 0; // top right bottom left
        -fx-border-style: none none solid none;
        -fx-border-width: 1px;
        -fx-border-color: transparent transparent $right-background-dark transparent;

        > .container > .menu-button {
            -fx-background-color: $left-background-dark;

            .label {
                -fx-text-fill: white;
            }
        }

        * > .context-menu {
            -fx-background-color: $left-background-dark;
            -fx-border-color: $left-background-dark;
        }

        & > *, .menu-item {
            -fx-background-color: $left-background-dark;
        }
    }
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0.333em 0.5em 0.333em 0.5em; /* 4 6 4 6*/
}

$hover-color: darken($left-background, 10%);
$hover-color-dark: lighten($left-background-dark, 10%);

.menu-bar > * > * > * > .context-menu {
    -fx-padding: -1px -1px -1px -1px;

    -fx-background-color: $left-background;

    > * .menu-item:focused {
        -fx-background-color: $hover-color;
    }
}

.menu-item, .menu-button {
    -fx-cursor: hand;
}

.menu-bar.menubar-dark .menu-item:focused {
    -fx-background-color: $hover-color-dark;
}

.menubar-dark .menu-item:focused {
    -fx-background-color: $hover-color-dark;
}

$pseudos: hover, focused, showing;

@each $pseudo in $pseudos {
    .menu-bar > .container > .menu-button:#{$pseudo} {
        -fx-background-color: $hover-color;
    }

    .menu-bar.menubar-dark > .container > .menu-button:#{$pseudo} {
        -fx-background-color: $hover-color-dark;
    }
}

.logo-image {
    -fx-image: url("ms-paint-logo-bw.png");
    -fx-background-size: 250px 250px;

    &.dark {
        -fx-image: url("ms-paint-logo-bw-inverted.png");
    }
}